- title "Sign up"
:javascript 
  $(function() {
    var url = "#{APP_CONFIG[:bosh]}";
    var domain = "#{APP_CONFIG[:domain]}";

    $("form").submit(function(e) {
      var creds = {
        jid: $("#user_name").val() + "@" + domain,
        pw: $("#user_password").val(),
        url: url
      };
      console.log(creds);
      $.nmk.session.setUser(creds);
    });
  });

= simple_form_for(@user) do |f| 
  = f.error_messages
  = f.input :name, :required => false
  = f.input :password, :required => false
  = f.submit "Sign up"

