- title "Sign up"
:javascript 
  $(function() {
    var url = "#{APP_CONFIG[:bosh]}";
    var domain = "#{APP_CONFIG[:domain]}";

    $("form").submit(function(e) {
      var creds = {
        jid: $("#user_name").val() + "@" + domain,
        pw: $("#user_password").val(),
        url: url
      };
      $.nmk.log(creds);
      $.nmk.session.setUser(creds);
    });
  });

%p Youe need a username and password to use this service. Read more at the #{link_to 'details', :about_technology, 'rel' => 'external' } .

= simple_form_for(@user) do |f| 
  = f.error_messages
  = f.input :name, :required => false
  = f.input :password, :required => false
  = f.submit "Sign up"

