- title "Sign up"

= render :partial => 'shared/credentials_formlistener'
:javascript 
  $(function() {
    $("#user_name").blur(function() {
      var form = $(this).closest("form");
      var data = form.serialize();
      $.get("#{url_for(:checkname_users)}", data, function(data) {
        if(data.available) {
          form.find(":submit").button("enable");
        } else {
          form.find(":submit").button("disable");
        }
      });
    });
  });

%p You need a username and password to use this service. Read more at the #{link_to 'details', :about_technology, 'rel' => 'external' }. Your credentials should be alphanumeric only because we encode them in an url later on. Further we check the availablility of your username against the backend when you leave that field.

= simple_form_for(@user) do |f| 
  = f.error_messages
  = f.input :name, :required => false
  = f.input :password, :required => false
  = f.submit "Sign up"

