
.blackbar 
  #header
    - if current_user
      = link_to '', :apps_home, :id => "logo", :alt => 'epic services'
    - else
      = link_to '', :root, :id => "logo", :alt => 'epic services', :rel => 'external'

    %ul#navi
      %li= link_to 'intro', :about, :rel => 'external'
      %li= link_to 'protocol', :about_protocol, :rel => 'external' 
      %li= link_to 'technology', :about_technology, :rel => 'external'
      %li= link_to 'downloads', :about_artifacts, :rel => 'external'
