- title "Home"

%p 
  Content (all content delivered by about controller)
  %ul
    %li= link_to 'intro', :about
    %li= link_to 'technology', :about_technology
    %li= link_to 'use cases', :about_artifacts
    %li= link_to 'downloads', :about_artifacts

%p
  App (move away from welcome, maybe single controller?)
  %ul
    %li= link_to 'Mobile app', :action => :app, :jqm => "1"
    %li= link_to 'Ringit app', :mobileapps_ringit

%p 
  Testing 
  %ul
    %li= link_to 'Mockups', :action => :mockups
    %li= link_to 'Jasmine', :jasmine_index    

