- title "Home"

%p 
  Please use one of the following links
  %ul
    %li= link_to 'Introduction', :about
    %li= link_to 'Technology', :about_technology
    %li= link_to 'Artifacts', :about_artifacts

    %li= link_to 'Todos', :welcome_todo
    %li= link_to 'Mobile app', :action => :app, :jqm => "1"
    %li= link_to 'Ringit app', :mobileapps_ringit
    %li= link_to 'Jasmine', :jasmine_index    
    %li= link_to 'Jasmine Docs', :jasmine_docs
    %li= link_to 'Jasmine webOS', :jasmine_webos
    %li= link_to 'Compass css ', :jasmine_compass

