- title "showcase" 
= javascript_include_tag "/jquery.featureList-1.0.0/jquery.featureList-1.0.0.js"

:maruku 
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 


#apps
  #feature_list
    %ul#tabs
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-ri-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-mi-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-brhi-link.png'
    %ul#output
      %li
        = image_tag 'showcase/box-screen-ri.png'
        = link_to 'See project details', :controller => "mobileapps", :action => :ringit
      %li

        = image_tag 'showcase/box-screen-mi.png'
        %a{:href => "#"} See project details
      %li
        = image_tag 'showcase/box-screen-bi.png'
        = link_to 'See project details', :controller => "mobileapps", :action => :browserhistory

:javascript 
  $(function() {
    $('#tabs li a').featureList({
      output:'#output li',
      start_item: 0 
    });
  });
