- title "showcase" 
= javascript_include_tag "/jquery.featureList-1.0.0/jquery.featureList-1.0.0.js"

:maruku 
  Your phone and the internet will move closer together. But we don't want big companies to do this for us, we want to be in control. Therefore we cooked up a little something that hooks your phone to the net and should server as a foundation to support more challenging use cases. 

  If you have any comments, ideas or would like to contribute please drop us a line. Meanwhile checkout the demos below. #{link_to 'Login', :new_session} or #{link_to 'Sign up', :new_user}


#apps
  #feature_list
    %ul#tabs
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-ri-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-brhi-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-make-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-mi-link.png'
    %ul#output
      %li
        = image_tag 'showcase/box-screen-ri.png'
        = link_to 'try it now', :mobileapps_ringit
      %li
        = image_tag 'showcase/box-screen-bi.png'
        = link_to 'try it now', :mobileapps_browserhistory
      %li
        = image_tag 'showcase/box-screen-mi.png'
        = link_to 'try it now', :mobileapps_makeit
      %li
        = image_tag 'showcase/box-screen-map.png'
        %a{:href => "#"} coming soon


:javascript 
  $(function() {
    $('#tabs li a').featureList({
      output:'#output li',
      start_item: 0 
    });
  });
