- title "This is the home of EPIC - the Easy Protocol for Item Control"
= javascript_include_tag "/jquery.featureList-1.0.0/jquery.featureList-1.0.0.js"
/= javascript_include_tag "/jquery.twit.0.2.0/jquery.twit.0.2.0.min.js"
/= stylesheet_link_tag "/jquery.twit.0.2.0/jquery.twit.0.2.0.css"

.intro
  %p
    EPIC makes your mobile phone remotely accessible and turns it into a remote control.
    EPIC is free, open, extensible, and ready to use. 

  %p
    If you have an Android device we suggest you give it a try by checking out the demos below. Use the links on the right side to create or log back into your account. For more info about EPIC and how to build your own internet-of-things applications read the #{link_to 'introduction', :about}.


%ul.buttons
  %li.session= link_to 'Sign in', :new_session
  %li= link_to 'Sign up', :new_user
  




#apps
  #feature_list
    %ul#tabs
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-ri-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-brhi-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-make-link.png'
    %ul#output
      %li
        = image_tag 'showcase/box-screen-ri.png'
        = link_to 'try it now', :mobileapps_ringit
      %li
        = image_tag 'showcase/box-screen-bi.png'
        = link_to 'try it now', :mobileapps_browserhistory
      %li
        = image_tag 'showcase/box-screen-mi.png'
        = link_to 'try it now', :mobileapps_makeit




:javascript
  $(function() {
    $('#tabs li a').featureList({
      output:'#output li',
      start_item: 0
    });
  });


