- title "This is the home of EPIC - the Easy Protocol for Item Control"
= javascript_include_tag "/jquery.featureList-1.0.0/jquery.featureList-1.0.0.js"

:maruku
  EPIC makes your mobile phone remotely accessible and turns it into a remote control.
  EPIC is free, open, extensible, and ready to use. If you do have an Android device we suggest you give it a try!
  Get started by checking out the demos below or #{link_to 'login', :new_session} to your existing account if you already #{link_to 'signed up', :new_user}.
  For more info about EPIC and how to build your own internet-of-things applications read the #{link_to 'introduction', :about}.


#apps
  #feature_list
    %ul#tabs
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-ri-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-brhi-link.png'
      %li
        %a{:href => "javascript:;"}
          = image_tag 'showcase/box-button-mi-link.png'
    %ul#output
      %li
        = image_tag 'showcase/box-screen-ri.png'
        = link_to 'try it now', :mobileapps_ringit
      %li
        = image_tag 'showcase/box-screen-bi.png'
        = link_to 'try it now', :mobileapps_browserhistory
      %li
        = image_tag 'showcase/box-screen-mi.png'
        = link_to 'try it now', :mobileapps_makeit




:javascript
  $(function() {
    $('#tabs li a').featureList({
      output:'#output li',
      start_item: 0
    });
  });


