- title "Sign in"

// domain and url
= xmpp_info


= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { 'data-role' => 'ajaxform'}) do |f|
  %p
    = f.label :username
    %br/
    = f.text_field :username, :value => 'asdf'
  %p
    = f.label :password
    %br/
    = f.password_field :password, :value => 'asdf'
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me
  %p= f.submit "Sign in"
