- title "Introduction"

:maruku
  Epic focuses on internet connected devices and connects them and web-applications running in standard browsers. It is a easy protocol that shall grow to an open standard that drives the internet-of-things. We believe that the internet-of-things will be developed by individuals (rather than big companies) and want to enable people (makers and tinkers) to participate. Because we want to help you to build the internet-of-things application you always dreamed of EVERYTHING ON THIS PAGE IS FREE, OPEN SOURCE, AND LICENCED UNDER CREATIVE COMMONS. Follow the link below for a quick presentation.

.center
  = link_to (image_tag 'epic-prezi.png', :alt => 'EPIC - Easy Protocol for Item Control'), 'http://prezi.com/xr2gtlyatqe6/epic-easy-protocol-for-item-control', :target => '_blank'
%p
:maruku

  ## Why we need EPIC?
  People use an ever increasing number of devices to connect to the internet (desktop, phone, tv). Rarely are those devices aware of each others existence or activities. We believe many benefits could be gained from making these devices talk to each other. We think that an open source project is required to involve a larger community that builds the internet-of-things. Therefore we collect information about the required technologies, showcase potential applications, and want to start discussions on how we can implement the internet-of-things.

  ## How does it work?
  We use a bunch of technologies to connect mobile devices to each other as well as to web-pages. The Epic architecture enables close-to-realtime peer-to-peer communication. See the #{link_to 'protocol', :about_protocol} and  #{link_to 'technology', :about_technology} sections for more details.

  ## Who?
  Andreas Maierhofer and Peter Rautek are internet-of-things enthusiasts. If you share their passion make sure to join the projects of #{link_to 'Andreas', 'https://github.com/amaierhofer'} and  #{link_to 'Peter', 'https://github.com/peterrautek'} at github!


