<% title "Commands" %>

<table>
  <tr>
    <th>String</th>
    <th>User</th>
  </tr>
  <% for command in @commands %>
    <tr>
      <td><%= command.string %></td>
      <td><%= command.user %></td>
      <td><%= link_to "Show", user_command %></td>
      <td><%= link_to "Edit", edit_user_command_path(command) %></td>
      <td><%= link_to "Destroy", user_command, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Command", new_user_command_path %></p>
