- title 'Welcome'

.center
  - if current_user

    %p Welcome back, #{current_user.name}!
    = link_to 'Logout', :log_out, :rel => 'external'
    = render :partial => 'shared/status'
    = render :partial => 'shared/set_js_credentials_from_session'


  - else

    %p Please use the following links to start using this service!
    %div{'data-role' => 'controlgroup', 'data-type' => 'horizontal'} 
      = link_to 'Sign In', :new_session, {'data-role' => 'button'}
      = link_to 'Sign Up', :appstore_users, {'data-role' => 'button'}

    /%p Please follow links for js test suite
    /%ul{'data-role' => 'content', 'style' => 'list-style: none' }
    /  %li= link_to 'Jasmine', :jasmine_index, { :rel => 'external' }
    /  %li= link_to 'Jasmine Docs', :jasmine_docs, { :rel => 'external' }
    /  %li= link_to 'Jasmine webOS', :jasmine_webos, { :rel => 'external' }
    /  %li= link_to 'Compass css ', :jasmine_compass, { :rel => 'external' }

