- if current_user
  %h1.jqm-center Welcome back, #{current_user.name}!

  .ui-grid-a

    %ul.ui-block-a
    - [:ri, :mi, :brhi].each do |app|
      %li= app_link(app)

    .ui-block-b
      = render :partial => 'block_b'

- else
  %p Please use the following links to start using this service!
  .jqm-center{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
    = link_to 'Sign In', :new_session, 'data-role' => 'button'
    = link_to 'Sign Up', :appstore_users, 'data-role' => 'button'
