
%script#mi-msg-tmpl{:type => "text/x-jquery-tmpl"}
  %data{type: 'map'}

%script#mi-entry-tmpl{:type => "text/x-jquery-tmpl"}
  <${name} type="${type}">${value}</${name}>


%h1.center Execute "#{params[:epic_action]}"
:javascript
  $(function() {
    var action = "#{params[:epic_action]}",  params = [];
    var actionClass = action.replace(/\./g,'-');
    function $withClass(selector) {
      return $('.' + actionClass + ' ' + selector);
    }
    function showResult(data) {
      $('#dialog-link').click();
    }
    var ul = $withClass('ul.params');
    $withClass('#add').click(function() {
      var form = $withClass('form');
      addParam({
        name: form.find('#name').val(),
        type: form.find(':checked').val() || '',
        value: form.find('#value').val()
      });
    });

    $withClass('#exec').click(function() {
      var msg = $('#mi-msg-tmpl').tmpl();
      _.each(params, function(p) {
        msg.append($('#mi-entry-tmpl').tmpl(p));
      });
      epic.app('send', action, msg, showResult);
    });

    $withClass('#clear').click(function() {
      params = [];
      ul.find('li').remove();
    });

    function addParam(p) {
      params.push(p);
      ul.find('li').remove();
      _.each(params, function(p) {
        ul.append('<li>' + JSON.stringify(p) + '</li>');
      });
      $.nmk.log(params);
      ul.listview('refresh');
    }
  });

%p Use the form below to add parameters to your call. 
%div{class: "#{params[:epic_action].gsub('.','-')}"}
  .m-twocol
    .m-left-big
      %form{:action => '#', :method => 'get'}
        %div{'data-role' => 'fieldcontain'}
          %label{:for => 'name'} Name
          %input{:id => 'name', :type => 'text', :name => 'name', :value => ''}


        %div{'data-role' => 'fieldcontain'}
          %fieldset{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
            %legend Type
            - %w[string int boolean].each_with_index do |type|
              %input{:id => type, :name => 'type', :type => 'radio', :value => type}/
              %label{:for => type}= type

        %div{'data-role' => 'fieldcontain'}
          %label{:for => 'value'} Value 
          %input{:id => 'value', :type => 'text', :name => 'value', :value => ''}

    .m-right-small
      = btn_link_to 'Add Parameter', '#', :id => 'add'
      = btn_link_to 'Execute Action', '#', :id => 'exec'
      = btn_link_to 'Clear List', '#', :id => 'clear'

  %h2 Parameters
  %ul.params.m-span{'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}

