%h1.center Execute "#{params[:epic_action]}"

:javascript
  $(function() {
    var action = "#{params[:epic_action]}", ul = $('ul.params'), params = [];

    $('#add').click(function() {
      var form = $('form');
      addParam({
        name: form.find('#name').val(),
        type: form.find(':checked').val(),
        value: form.find('#value').val()
      });
    });

    $('#exec').click(function() {
      $.nmk.log(params);
    });

    function addParam(p) {
      ul.find('li').remove();
      params.push(p);
      _.each(params, function(p) {
        ul.append('<li>' + JSON.stringify(p) + '</li>');
      });
      $.nmk.log(params);
      ul.listview('refresh');
    }
  });


%h2 Adding parameters to call

%form{:action => '#', :method => 'get'}
  %div{'data-role' => 'fieldcontain'}
    %label{:for => 'name'} Parameter name
    %input{:id => 'name', :type => 'text', :name => 'name', :value => ''}


  %div{'data-role' => 'fieldcontain'}
    %fieldset{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
      %legend Parameter type
      - %w[string boolean integer].each_with_index do |type|
        %input{:id => type, :name => 'type', :type => 'radio', :value => type}/
        %label{:for => type}= type

  %div{'data-role' => 'fieldcontain'}
    %label{:for => 'value'} Parameter value
    %input{:id => 'value', :type => 'text', :name => 'value', :value => ''}

  = btn_link_to 'Add Parameter', '#', :id => 'add'
= btn_link_to 'Execute Action', '#', :id => 'exec'

%ul.params{'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}
