%h1.center Execute "#{params[:epic_action]}"

:javascript
  $(function() {
    var action = "#{params[:epic_action]}", ul = $('ul.params'), params = [];

    $('#add').click(function() {
      var form = $('form');
      addParam({
        name: form.find('#name').val(),
        type: form.find(':checked').val() || '',
        value: form.find('#value').val()
      });
    });

    $('#exec').click(function() {
      $.nmk.log(params);
    });
    $('#clear').click(function() {
      params = [];
      ul.find('li').remove();
    });

    function addParam(p) {
      params.push(p);
      ul.find('li').remove();
      _.each(params, function(p) {
        ul.append('<li>' + JSON.stringify(p) + '</li>');
      });
      $.nmk.log(params);
      ul.listview('refresh');
    }
  });

%p Use the form below to add parameters to your call. 
.m-twocol
  .m-left-big
    %form{:action => '#', :method => 'get'}
      %div{'data-role' => 'fieldcontain'}
        %label{:for => 'name'} Name
        %input{:id => 'name', :type => 'text', :name => 'name', :value => ''}


      %div{'data-role' => 'fieldcontain'}
        %fieldset{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
          %legend Type
          - %w[string boolean integer].each_with_index do |type|
            %input{:id => type, :name => 'type', :type => 'radio', :value => type}/
            %label{:for => type}= type

      %div{'data-role' => 'fieldcontain'}
        %label{:for => 'value'} Value 
        %input{:id => 'value', :type => 'text', :name => 'value', :value => ''}

  .m-right-small
    = btn_link_to 'Add Parameter', '#', :id => 'add'
    = btn_link_to 'Execute Action', '#', :id => 'exec'
    = btn_link_to 'Clear List', '#', :id => 'clear'

%ul.params.m-span{'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}
