
!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = stylesheet_link_tag 'design.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'              

    = stylesheet_link_tag "peek"
    = stylesheet_link_tag "/jquery.mobile/jquery.mobile-1.0a4.1.css"


    = javascript_include_tag :defaults
    = javascript_include_tag :xmpp
    = javascript_include_tag 'jqm.customizations'
    = javascript_include_tag 'reloader' if Rails.env == 'development'
    = javascript_include_tag '/jquery.mobile/jquery.mobile-1.0a4.1.js'
    = yield(:head)
  
  %body
    .ui-page{'data-role' => 'page', 'data-theme' => 'c'}
      = link_to '', ''
      .blackbar 
        #header
          = link_to_root

          %ul#navi
            %li= link_to 'intro', :about, :rel => 'external'
            %li= link_to 'use case', :about_use_cases, :rel => 'external' 
            %li= link_to 'technology', :about_technology, :rel => 'external'
            %li= link_to 'downloads', :about_artifacts, :rel => 'external'

      #main
        #title 
          = content_tag :h1, yield(:title) if show_title?

        #content
          .m-content
            = yield
          - if current_user
            = render :partial => 'shared/set_js_credentials_from_session'
            = render :partial => 'footer'

      .blackbar
        #footer
          me and you production 2011, contact 

    .ui-page{'data-role' => 'page', 'data-theme' => 'c'}
      #console
