!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    - if jqm_enabled? 
      = stylesheet_link_tag "/jquery.mobile-1.0a4/jquery.mobile-1.0a4.css"
    = stylesheet_link_tag 'peek.css'


    = javascript_include_tag :xmpp
    = javascript_include_tag 'reloader' if Rails.env == 'development'
    - if jqm_enabled? 
      = javascript_include_tag '/jquery.mobile-1.0a4/jquery.mobile-1.0a4.js'

    = yield(:head)
  
  %body

    %div{'data-role' => 'page'}

      = render :partial => 'shared/header'
      .container{'data-role' => 'content'}
        = render :partial => 'shared/flash', :locals => { :flash => flash }
        = yield

    #peek{'data-role' => 'page'}
      %div{'data-role' => 'header', 'data-id' => 'header','data-nobackbtn' => 'true', 'data-position' => 'fixed'}
        %h1= "XMPP Stream"
      #console{'data-role' => 'content'}



