!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = render 'shared/stylesheet_includes'
    = render 'shared/javascript_includes'
    = javascript_include_tag 'mobileapps/ringit.js'
    = yield(:head)
  
  %body
    %div{'data-role' => 'page'}
      = yield
